* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: aliceblue !important;
}

.nav nav-pills nav-justified {
    padding-top: 20px !important;
}
.row row-cols-1 row-cols-md-4 g-4 py-2{
    flex-wrap: wrap !important;
}
.card{
    flex-grow: 1 !important;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
  }
  .lightbox-content {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 80%;
    max-width: 700px;
    text-align: center;
  }
  .lightbox-content img {
    width: 100%;
    margin: auto;
    height: auto;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }

.cimage {
    width: 100%;
    height: 200px !important;
    object-fit: cover;
}